# [Day 1-3] ÌîÑÎ°úÏ†ùÌä∏ ÏÑ§Î™ÖÏÑú

---

| ÏïÑÎûòÏùò ÎßÅÌÅ¨Î•º ÌÜµÌï¥ ÌååÏùºÏùÑ Îã§Ïö¥Î°úÎìú Î∞õÏúºÏÑ∏Ïöî.  
| https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv

---

# Î™©Ìëú 
+ Îã§Ïùå Î∂ÑÍ∏∞Ïóê Ïñ¥Îñ§ Í≤åÏûÑÏùÑ ÏÑ§Í≥ÑÌï¥Ïïº Ìï†Íπå

---

# üïπÔ∏è Data Description
+ Name : Í≤åÏûÑÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.  
+ Platform : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.  
+ Year : Í≤åÏûÑÏù¥ Ï∂úÏãúÎêú Ïó∞ÎèÑÏûÖÎãàÎã§.  
+ Genre : Í≤åÏûÑÏùò Ïû•Î•¥ÏûÖÎãàÎã§.  
+ Publisher : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨ÏûÖÎãàÎã§.  
+ NA_Sales : Î∂ÅÎØ∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.  
+ EU_Sales : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.  
+ JP_Sales : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.  
+ Other_Sales : Í∏∞ÌÉÄÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.  

---

# Ï∞∏Ï°∞  
+ Sprint 1 : EDA, Feature Engineering, Data Manipulation, Data Visualization  
+ Sprint 2 : Hypothesis Test, CI, Bayesian, AB Test  
+ Sprint 3 : DR, PCA, Clustering, GD  

---

# Î∞òÎìúÏãú Îì§Ïñ¥Í∞ÄÏïº ÌïòÎäî ÎÇ¥Ïö©.
+ ÏßÄÏó≠Ïóê Îî∞ÎùºÏÑú ÏÑ†Ìò∏ÌïòÎäî Í≤åÏûÑ Ïû•Î•¥Í∞Ä Îã§Î•ºÍπå
+ Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÏùò Ìä∏Î†åÎìúÍ∞Ä ÏûàÏùÑÍπå
+ Ï∂úÍ≥†ÎüâÏù¥ ÎÜíÏùÄ Í≤åÏûÑÏóê ÎåÄÌïú Î∂ÑÏÑù Î∞è ÏãúÍ∞ÅÌôî ÌîÑÎ°úÏÑ∏Ïä§Í∞Ä Ìè¨Ìï®

# ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏

In [236]:
# Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ
import pandas as pd
import numpy as np

# ÏãúÍ∞ÅÌôî
import matplotlib.pyplot as plt
import seaborn as sns

# Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [237]:
# data from github public repository
# Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Ïóê Ïù∏Îç±Ïä§Í∞Ä Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏùåÏúºÎ°ú, Ïù∏Îç±Ïä§ ÏóÜÏù¥ Î∂àÎü¨Ïò§Í∏∞. https://jkim83.tistory.com/169
df_origin = pd.read_csv("https://github.com/CJYjob/ds-section1-Project1-new-/blob/main/vgames2.csv?raw=true", index_col=0)

# Îç∞Ïù¥ÌÑ∞ ÏõêÎ≥∏ Î≥¥Ï°¥
ÏõêÎ≥∏ = df_origin  
Í∞ÄÍ≥µ = df

In [238]:
# Îç∞Ïù¥ÌÑ∞ ÏõêÎ≥∏ Î≥¥Ï°¥
df = df_origin.copy()

# Data Wrangling : ÌÉêÏÉâ

In [239]:
df.shape

(16598, 9)

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

In [241]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [242]:
df.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

# Data Wrangling : ÌÉêÏÉâ

In [243]:
df.Platform.unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [244]:
df.Genre.unique()

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter', nan], dtype=object)

In [245]:
df.NA_Sales.unique()

array(['0.04', '0.17', '0', '0.12', '0.02', '0.07', '480K', '0.14',
       '0.01', '0.57', '0.06', '0.08', '0.48', '0.03', '0.05', '1.93',
       '0.29', '0.19', '0.3', '0.26', '0.11', '0.18', '0.33', '0.51',
       '60K', '0.13', '0.52', '0.34', '0.25', '0.41', '0.22', '0.35',
       '0.1', '0.67', '0.59', '0.36', '0.21', '1.19', '5.91', '1.98',
       '0.09', '0K', '0.5', '0.94', '0.16', '0.63', '0.43', '0.2', '1.23',
       '0.44', '0.42', '0.97', '2.67', '0.28', '6.05', '0.47', '0.49',
       '0.62', '0.24', '0.72', '1.74', '0.46', '0.65', '0.32', '1.53',
       '0.23', '0.53', '0.37', '1.26', '0.39', '0.58', '1.94', '2.31',
       '1.03', '0.82', '0.4', '0.93', '0.56', '0.96', '1.64', '0.69',
       '1.25', '0.27', '0.92', '0.58M', '1.24', '0.25M', '0.86', '0.73',
       '0.55', '1.54', '1.02', '1.27', '0.54', '0.15', '1.09', '3.44',
       '2.29', '0.88', '5.55M', '1.37', '2.3', '0.99', '1.15', '0.98',
       '0.75', '0.74', '0.7', '0.14M', '0.45', '1.2', '1.41', '0.68',
       '1.23M', '1.56', '0.31', '1.45', '1.11', '2.9', '0M', '0.83',
       '0.78', '3.38', '0.64', '1.08', '0.38', '1.47', '0.06M', '0.77',
       '1.05', '6.85', '3.83', '3.79', '1.13M', '0.9', '3.78', '1.89',
       '1.17', '4.03', '0.89', '0.61', '0.71', '23.2', '1.44', '1.31',
       '3.06', '3.14', '1.66', '0.79', '1.39', '0.31M', '490K', '1.85',
       '0.76', '2.06', '1.36', '1.3', '1.06', '1.1', '240K', '2.08',
       '1.04', '0.66', '2.64', '1.58', '0.05M', '3.11', '4.34', '150K',
       '1.78', '0.85', '2.91', '0.13M', '1', '1.01', '4100K', '5170K',
       '1.07', '3.8', '2.5', '2.2', '1.5', '1.91', '0.95', '2.03', '2.1',
       '1.4', '3.18', '1.73', '1.12', '1.72', '2.05', '1.63', '1.22',
       '1.13', '1.49', '2.55', '0.87', '0.81', '0.6', '0.61M', '2.62',
       '0.84', '2.38', '1.32', '20K', '3.02', '1.75', '2.02', '1.82',
       '1.68', '9.03', '2.56', '1.87', '2.65', '1.48', '3.19', '1.33',
       '41.49', '30K', '1.16', '1.21', '0.02M', '2.52', '2.28', '5.99',
       '14.03', '2.93', '2.45', '0.11M', '2.14', '2.99', '0.01M', '2.6',
       '1.35', '0.36M', '50K', '1.28', '2.95', '70K', '1.86', '15.75',
       '1.18', '1.42', '8.94', '7.01', '190K', '1.57', '1.62', '0.91',
       '0.8', '2.09', '1.96', '1.52', '2.39', '1.79', '0.21M', '0.43M',
       '2.19', '1.43', '1.76', '2.78', '1.3M', '1.71', '29.08', '3.13',
       '3.1', '4.99', '4.23', '2.35', '14.97', '1.65', '1210K', '2.26',
       '3.64', '350K', '2.71', '3.49', '3.33', '1.46', '1.7', '4.4',
       '4.02', '2.53', '1610K', '2.01', '100K', '1.55', '4.47', '1.9',
       '2.25', '3.98', '2.51', '1.61', '1.84', '1.81', '170K', '8.41',
       '2.11', '2.74', '2.42', '3.92', '6.72', '2.54', '4', '0.9M', '40K',
       '2.12', '7.28', '2.13', '1.59', '1.88', '3.39', '450K', '2.96',
       '8.52', '2.82', '9.67', '7.97', '8.25', '1.67', '1.51', '6.91',
       '3.88', '3.27', '4.14', '1.92', '220K', '1.29', '2.04', '1.11M',
       '310K', '0.07M', '2.15', '6.16', '4.09', '11.38', '4.26', '1.69',
       '1.34', '820K', '2.17', '80K', '4.36', '2.8', '290K', '3.05',
       '130K', '5.39', '2.66M', '2.47', '4.15', '4.46', '1.18M', '11.27',
       '1.38', '3.66', '4.12', '0.55M', '2.41', '2.57', '2', '2.58',
       '5.89', '2.18', '1.99', '2.72', '2.36', '120K', '0.08M', '0.22M',
       '5.77', '3.68', '3.23', '5.84', '9', '2.85', '10.83', '6.82',
       '3.54', '0.3M', '0.04M', '3.42', '6.99', '1780K', '2930K', '1.14',
       '2.49', '5.98', '2.33', '1.97', '5.58', '0.15M', '0.1M', '3.7',
       '2.07', '4.41', '1.83', '0.29M', '4.98', '770K', '10K', '280K',
       '2.43', '26.93', '6.42', '3.81', '5.57', '9.81', '0.37M', '0.12M',
       '3.28', '3.74', '540K', '2.66', '9.09', '1.77', '9.63M', '6.06',
       '4.79', '2.59', '2.48', '0.34M', '2.97', '2.63', '4.74', '9.07',
       '0.26M', '3.51', '1.6', '5.03', '3.22', '3.01', '2.22', '2.77',
       '3.25', '550K', '2010K', '5.8', '3.59', '2.4', '1.95', '0.18M',
       '5.08', '2.84', '15.85', '7.03M', '4.89', '3.24', '4.01', '340K',
       '2.32', '3.4', '90K', '12.78', '2.21', '3.36', '4.75', '600K',
       '0.46M', '0.03M', '6.76', '2570K', '3', '4.05', '5.54', '0.72M',
       '2.75', '3.21', '6.63', '9.43', '3.03', '3.5', '2.7', '0.96M',
       '9.54', '6.75', '3.63', '270K', '420K', '0.28M', '2.79', '4.21',
       '2.23', '4.52', '0.45M', '720K', '2.89', '0.53M', '4.76', '470K',
       '14.59', '320K', '4.18'], dtype=object)

# Data Wrangling : Î¨∏Ï†ú Ï†ïÏùò

+ Ï¥ù 16598Í∞úÏùò Í¥ÄÏ∏°ÏπòÍ∞Ä ÏûàÏúºÎ©∞, 
  + Year columnÏóê 271 Í∞úÏùò Í≤∞Ï∏°Ïπò,
  + Genre columnÏóê 50 Í∞úÏùò Í≤∞Ï∏°Ïπò
  + Publisher columnÏóê 58 Í∞úÏùò Í≤∞Ï∏°Ïπò  
  Í∞Ä Í¥ÄÏ∞∞Îê®.
+ Ïù¥ÏÇ∞Ìòï Îç∞Ïù¥ÌÑ∞Ïù∏ yearÍ∞Ä floatÌòïÏúºÎ°ú ÏÑ§Ï†ïÎêòÏñ¥ ÏûàÏùå. -> intÌòïÏúºÎ°ú Ï†ÑÌôò
+ ÌåêÎß§ÎüâÏù¥ objectÌòïÏù¥Î©∞ ÏÑ∏Í∞ÄÏßÄ ÌòïÌÉú(420K 0.28M 0.01)Î°ú ÌëúÌòÑ -> intÌòïÏúºÎ°ú Ï†ÑÌôò
+ Íµ¨Ï°∞Ï†ÅÏúºÎ°ú TidyÌïòÏßÄ Î™ªÌïú Îç∞Ïù¥ÌÑ∞(	NA_Sales	EU_Sales	JP_Sales	Other_Sales) -> Location,Sales ÏπºÎüºÏúºÎ°ú Ï†ÑÌôò

In [246]:
# YearÏùò NaN Îç∞Ïù¥ÌÑ∞ Í∞úÏàò ÌôïÏù∏ 
year_NaN_count = df.Year.isna().sum()
genre_NaN_count = df.Genre.isna().sum()
publisher_NaN_count = df.Publisher.isna().sum()
print(year_NaN_count, genre_NaN_count, publisher_NaN_count)

271 50 58

In [247]:
# Ïó∞ÎèÑÎ•º Ï∂îÏ∏°Ìï† Î∞©Î≤ïÏù¥ ÏóÜÏùåÏúºÎ°ú, drop Í≥†Î†§
# Í≤∞Ï∏°Ïπò ÎπÑÏú® Í≥ÑÏÇ∞
ratio = (year_NaN_count+genre_NaN_count+publisher_NaN_count) / df.shape[0] * 100
print(ratio)

2.2834076394746354

In [248]:
# Í≤∞Ï∏°ÏπòÍ∞Ä Î™®Îëê Îã§Î•∏ Í¥ÄÏ∏°ÏπòÏóêÏÑú Î∞úÍ≤¨ÎêúÎã§ Í∞ÄÏ†ïÌï¥ÎèÑ, 
# Ï†ÑÏ≤¥ Ï§ë 2.28%Î°ú 5% ÎØ∏Îßå ÏûÑÏúºÎ°ú Í≤∞Ï∏°ÏπòÎ°ú Ï†úÍ±∞ÌïòÏó¨ÎèÑ ÌÅ∞ ÏòÅÌñ•Ïù¥ ÏóÜÏùå.
df = df.dropna(axis=0)
df.isna().sum()

Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [249]:
# df.year Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Ï†ÑÌôò
df = df.astype({'Year':'int'})

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16241 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16241 non-null  object
 1   Platform     16241 non-null  object
 2   Year         16241 non-null  int64
 3   Genre        16241 non-null  object
 4   Publisher    16241 non-null  object
 5   NA_Sales     16241 non-null  object
 6   EU_Sales     16241 non-null  object
 7   JP_Sales     16241 non-null  object
 8   Other_Sales  16241 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.2+ MB

In [251]:
# tidy dataÎ°ú Ï†ÑÌôò
df = df.melt(id_vars=['Name', 'Platform', 'Year', 'Genre', 'Publisher'], value_vars=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'])
df = df.rename(columns = {'variable' :'Location', 'value':'Sales'})    
df["Location"] = df["Location"].str.replace("_Sales", "")

In [252]:
df

,Name,Platform,Year,Genre,Publisher,Location,Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,NA,0.04
1,The Munchables,Wii,2009,Action,Namco Bandai Games,NA,0.17
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,NA,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,NA,0.04
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,NA,0.12
...,...,...,...,...,...,...,...
64959,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,Other,0.01
64960,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,Other,0
64961,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,Other,0.13
64962,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,Other,0.03
64963,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,Other,0.01

In [253]:
# ÌåêÎß§ÎüâÏù¥ ÏÑ∏Í∞ÄÏßÄ ÌòïÌÉúÎ°ú ÌëúÌòÑ. x.xx, x.xxM, xxxK
# SalesÏóê ÎåÄÌï¥ÏÑú ÏÑ∏Í∞ÄÏßÄ ÌòïÌÉú(Î¨∏Ïûê Ìè¨Ìï® x, M Ìè¨Ìï®, K Ìè¨Ìï®)Î°úÎßå ÏπºÎüºÏù¥ Ïù¥Î£®Ïñ¥ ÏßÄÎäîÏßÄ ÌôïÏù∏
df.shape[0] == df[~df.Sales.str.contains("M")&~df.Sales.str.contains("K")]["Sales"].count() + df[df.Sales.str.contains("M")]["Sales"].count() + df[df.Sales.str.contains("K")]["Sales"].count()

True

In [254]:
# scaleÏùÑ ÌëúÏãúÌïòÍ∏∞ ÏúÑÌïú column Ï∂îÍ∞Ä
df["Scale"] = np.repeat(0, len(df))

In [255]:
for i in df[df["Sales"].str.contains("K")].index:
  df.loc[i, "Scale"] = 1000
for i in df[~df["Sales"].str.contains("K")].index:
  df.loc[i, "Scale"] = 1000000

In [256]:
# ÌåêÎß§ÎüâÏùÑ ÏàòÏπòÌòïÏúºÎ°ú ÌëúÌòÑÌïòÍ∏∞ ÏúÑÌï¥, "M","K" Ï†úÍ±∞
df["Sales"] = df["Sales"].str.replace("M", "")
df["Sales"] = df["Sales"].str.replace("K", "")

In [257]:
# ÌåêÎß§Îüâ Í≥ÑÏÇ∞ÏùÑ ÏúÑÌï¥ floatÌòïÏúºÎ°ú Ï†ÑÌôò
df["Sales"] = df["Sales"].astype(float)

In [258]:
# ÌåêÎß§Îüâ Í≥ÑÏÇ∞ ÌõÑ ÏóÖÎç∞Ïù¥Ìä∏
df["Sales"] = df["Sales"] * df["Scale"]

In [259]:
# ÌåêÎß§ÎüâÏùÑ intÌòïÏúºÎ°ú Ï†ÑÌôò
df["Sales"] = df["Sales"].astype(int)

In [261]:
# Í≥ÑÏÇ∞ÏùÑ ÎßàÏπú Scale ÏπºÎüº Î≤ÑÎ¶¨Í∏∞
df = df.iloc[:,:-1]

In [262]:
df

,Name,Platform,Year,Genre,Publisher,Location,Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,NA,40000
1,The Munchables,Wii,2009,Action,Namco Bandai Games,NA,170000
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,NA,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,NA,40000
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,NA,120000
...,...,...,...,...,...,...,...
64959,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,Other,10000
64960,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,Other,0
64961,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,Other,130000
64962,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,Other,30000
64963,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,Other,10000

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64964 entries, 0 to 64963
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       64964 non-null  object
 1   Platform   64964 non-null  object
 2   Year       64964 non-null  int64
 3   Genre      64964 non-null  object
 4   Publisher  64964 non-null  object
 5   Location   64964 non-null  object
 6   Sales      64964 non-null  int64
dtypes: int64(2), object(5)
memory usage: 3.5+ MB